html {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-image: url("https://apes.run/images/background.png");
	background-color: rgba(0, 0, 0);
}
body {
	background-color: rgba(0, 0, 0, 0.8);
	border: 1px solid white;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
}
@font-face {
	font-family: apeescape;
	src: url(Fullape-Regular.ttf);
}
h1 {
	font-size: 75px;
	font-family: apeescape;
	color: #FFD800;
	text-shadow: 3px 3px #000000;
}
h2 {
	font-size: 43px;
	font-family: apeescape;
	color: #FFD800;
	text-shadow: 3px 3px #000000;
}
h3 {
	font-size: 38px;
	font-family: apeescape;
	text-shadow: 3px 3px #000000;
	color: #FFD800;
}
p {
	font-size:28px;
	font-family: apeescape;
	color: #FFD800;
	text-shadow: 3px 3px #000000;
}
a {
	font-size:28px;
	font-family: apeescape;
	color: white;
	text-shadow: 3px 3px #000000;
	text-decoration: none;
}
.small {
	font-size:15px;
}
.apeFNT {
	font-family: apeescape;
	color: #FFD800;
	text-shadow: 3px 3px #000000;
}
.logo:hover, .option:hover, .gamename:hover {
	color:white;
}
.gamename {
	font-size: 40px;
}
iframe {
	border: 1px solid #FFD800;
	border-radius: 4px;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
	border-radius: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px #1a1a1a; 
	border: 1px solid #FFD800;
	border-radius: 20px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #FFD800; 
	border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: black; 
  }
  .boxing {
  margin: auto;
  overflow: auto;
  height: 75%;
  width: 30%;
  }
  .videos {
  margin: auto;
  overflow: auto;
  height: auto;
  width: 70%;
  height: 60%;
  }
